.contents {
    background-color: #222327;
    color: #fefeff;
    height: 100%;
    font-family: 'museo_sans100', sans-serif;
}

.main {
    padding: 20px;
    text-align: center;
}

.betsafe-logo {
    box-sizing: border-box;
    background-color: #010101;
    height: 133px;
    display: flex;
    align-items: center;
    padding: 25px;
}

.rocktober-logo {
    max-width: 100%;
}

.rocktober-logo-big {
    display: none;
}

.intro {
    font-size: 42px;
    text-align: center;
    font-weight: normal;
    max-width: 960px;
    margin: 0 auto 20px;
}

.button {
    background-color: #a20000;
    padding: 25px 35px 25px 35px;
    text-transform: uppercase;
    color: #f7f7f7;
    -webkit-appearance: none;
    border: none;
    border-radius: 10px;
    font-size: 48px;
    cursor: pointer;
    font-family: 'museo_sans500', sans-serif;
}

.quiz {
    background-color: #1b1b1d;
    padding: 33px 0;
    text-align: center;
    display: none;
}

.quiz-header {
    text-transform: uppercase;
    font-family: 'museo_sans900', sans-serif;
    font-size: 48px;
    font-weight: normal;
}

.quiz-section {
    margin: 50px auto 90px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 760px;
}

.quiz-section-title {
    font-family: 'museo_sans100', sans-serif;
    font-size: 42px;
    font-weight: normal;
    flex-grow: 2;
}

.quiz-item {
    margin-top: 40px;
}

.question {
    font-family: 'museo_sans300', sans-serif;
    font-size: 42px;
    background: url('../img/question-small.png') repeat-x 0 0;
    height: 359px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 20px #000;
}

.answers {
    box-sizing: border-box;
    background-color: #222327;
    min-height: 185px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 80px 20px 40px 20px;
    font-family: 'museo_sans300', sans-serif;
    font-size: 42px;
    text-align: left;
    margin-top: 20px;
    box-shadow: 0 10px 20px #0d0d0d;
}

.answer {
    flex-basis: 130px;
}

.view-result {
    margin: 20px;
}

input[type=radio]{
    display: none;
}

label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 88px;
}

label:before {
    content: "";
    display: inline-block;
    width: 38px;
    height: 38px;
    position: absolute;
    left: 0;
    top: 2px;
    background-color: #0f0f0f;
    border-radius: 19px;
}

input[type=radio]:checked + label:before {
    content: "\2022";
    color: #f3f3f3;
    font-size: 68px;
    text-align: center;
    line-height: 34px;
}

@media screen and (min-width: 1024px) {
    .main {
        padding-top: 0;
    }

    .intro {
        position: relative;
        bottom: 150px;
        font-size: 30px;
        margin-bottom: 0;
    }

    .start-quiz {
        position: relative;
        bottom: 130px;
    }

    .betsafe-logo {
        height: 85px;
    }

    .betsafe-logo > img {
        width: 179px;
    }

    .button {
        font-size: 30px;
    }

    .rocktober-logo {
        display: none;
    }

    .rocktober-logo-big {
        display: block;
        max-width: 100%;
    }

    .question {
        background: url('../img/question.png') no-repeat 0 0;
        background-size: contain;
        height: 194px;
        width: 1024px;
        box-shadow: 0 0 20px #000;
        margin: 0 auto;
        font-size: 36px;
    }

    .answers {
        width: 1024px;
        box-shadow: 0 0 20px #000;
        margin: 5px auto 0;
        padding-left: 130px;
        padding-right: 130px;
        font-family: 'museo_sans100', sans-serif;
        font-size: 36px;
    }

    .quiz-section {
        flex-direction: row;
    }

    .quiz-section-reversed {
        flex-direction: row-reverse;
    }
}

