.contents {
    background-color: #222327;
    color: #fefeff;
    height: 100%;
    width: 320px;
}

.main {
    padding: 20px;
    text-align: center;
}

.betsafe-logo {
    box-sizing: border-box;
    background-color: #010101;
    height: 133px;
    display: flex;
    align-items: center;
    padding: 25px;
}

.rocktober-logo {
    max-width: 100%;
}

.intro {
    font-size: 42px;
    font-family: 'museo_sans100', sans-serif;
    text-align: center;
}

.button {
    background-color: #a20000;
    padding: 18px;
    text-transform: uppercase;
    color: #f7f7f7;
    -webkit-appearance: none;
    border: none;
    border-radius: 10px;
    font-size: 40px;
    cursor: pointer;
}

